@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html{
  font-size: 14px;
} */

.images{
  background-image: url('https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
}